html body {
	background-color: black;
	font-family: cursive;
	color: rgba(0,255,68,1);
}

html body:hover {
	color: rgba(0,100,1,1);
}

#watch7-sidebar-contents {
	background: rgba(32,32,32,1);
	color: rgba(0,255,68,1);
	/*border: 1px solid rgba(0,255,68,1);*/
	box-shadow: 0px -1px 10px 1px rgba(0,255,68,1);
}

div#watch8-action-buttons {
	background: rgba(32,32,32,1);
	color: rgba(0,255,68,1)!important;
}

div#watch-header {
	background: rgba(32,32,32,1);
	box-shadow: 0px -1px 10px 1px rgba(0,255,68,1);
}

span.title {
	color: rgba(0,255,68,1)!important;
}

a:hover, a:hover span.title {
	color: rgba(0,100,1,1)!important;
}

#watch-header {
	background: black;
}

div #yt-masthead-container {
	background: black;
	border-bottom: 1px solid rgba(0,255,68,1);
}

div#action-panel-details {
	background: rgba(32,32,32,1);
	color: rgba(0,255,68,1);
	box-shadow: 0px -1px 10px 1px rgba(0,255,68,1);
}

div#action-panel-details a.yt-uix-servicelink {
	color: #167ac6!important;
}

div#action-panel-details a.yt-uix-servicelink:hover {
	color:rgba(0,255,68,1)!important;
}

div #watch-description {
	color: rgba(0,255,68,1);
}

div.watch-view-count {
	color:rgba(0,255,68,1);
}

div #feed {
	/*background: rgba(21, 24, 21, 0.8);*/
	background: rgba(32,32,32,1);

	/*color: rgba(0,255,68,1);*/
}

body ul {
	color: rgba(0,255,68,1);
}

div #watch-discussion {
	background: black;
	color: rgba(0,255,68,1);
}

div#footer-container.yt-base-gutter.force-layer {
	background: black;
	border-top: 1px solid rgba(0,255,68,1);
}

div#footer-main {
	border-bottom: 1px solid rgba(0,255,68,1);
}

/*Shadow around feed on home screen*/
div.feed-item-container {
	box-shadow: 0px -1px 10px 1px rgba(0,255,68,1);
}


div#feed-main-what_to_watch {
	background: rgba(32,32,32,1);
	box-shadow: 0px -1px 10px 1px rgba(0,255,68,1);
}

html body div#appbar-nav.appbar-content-hidable {
	background: black;
}

div#guide-container {
	background: black;
	
}

ul.guide-toplevel {
	background: rgba(32,32,32,1);
	box-shadow: 0px -1px 10px 1px rgba(0,255,68,1);
}

html body span {
	color: rgba(0,255,68,1);
}

div.yt-card.clearfix {
	background: black;
}

div.yt-lockup-description {
	background: black;
	color: rgba(0,255,68,1);
}

div.shelf-description {
	background: black;
	color: rgba(0,255,68,1);
}

div#c4-header-bg-container.c4-visible-on-hover-container {
	background: black;
}

div#c4-primary-header-contents {
	background: black;
}

div#channel-subheader {
	background: black;
}

div.branded-page-related-channels {
	background: black;
	box-shadow: 0px -1px 10px 1px rgba(0,255,68,1);
}

div.description {
	background: black;
	color: rgba(0,255,68,1);
}

div.yt-ui-ellipsis {
	background: rgba(32,32,32,1);
}

h3.title.yt-ui-ellipsis {
	background: black;
	color: rgba(0,255,68,1);
}

html body li.feed-item-container {
	box-shadow: 0px -1px 10px 1px rgba(0,255,68,1);
}


html body button#yt-picker-safetymode-button {
	background: black;
	font-family: cursive;
}

html body button.yt-uix-button {
	background: black;
	color: rgba(0,255,68,1);
	font-family: cursive;
	border-top: solid 1px rgba(0,255,68,1)!important;
	border-right: solid 1px rgba(0,255,68,1)!important;
	border-left: solid 1px rgba(0,255,68,1)!important;
}

html body button#appbar-guide-button.yt-uix-button.yt-uix-button-size-default {

	border: solid 1px rgba(0,255,68,1)!important;
}

html body button.yt-uix-button.yt-uix-button-size-default.yt-uix-button-default.load-more-button {
	border: solid 1px rgba(0,255,68,1)!important;		
}

html body button.yt-uix-button.yt-uix-button-size-small.yt-uix-button-link.comment-renderer-reply.comment-simplebox-trigger {
	border-bottom: solid 1px rgba(0,255,68,1);
}

html body button.yt-uix-button.yt-uix-button-size-default.yt-uix-button-default.load-more-button.yt-uix-load-more.comment-section-renderer-paginator.yt-uix-sessionlink:hover {
	background: black!important;
}

a.yt-uix-sessionlink {
	color: #167ac6!important;
	
}

a.yt-uix-sessionlink:hover {
	color: rgba(0,255,68,1)!important;
}

a.yt-uix-button.yt-uix-sessionlink.yt-uix-button-default {
	box-shadow: 0px 0px 5px 1px rgba(0,255,68,1);
}

a.yt-uix-sessionlink.yt-ui-ellipsis.yt-ui-ellipsis-2.spf-link {
	background-color: rgba(32,32,32,1);	
} 

span.load-more-text {
	background: black;
	color: rgba(0,255,68,1);
	font-family: cursive;
}

div#yt-picker-safetymode-footer {
	background: black;
	color: rgba(0,255,68,1);
}

div#appbar-guide-menu {
	background: black;
}

button#search-btn{	
	border: solid 1.5px rgba(0,255,68,1)!important;
}

div.masthead-search-terms-border {
	border: solid 1.5px rgba(0,255,68,1);
} 

html body button#google-help {
	box-shadow: 0px 0px 5px 1px rgba(0,255,68,1);
	border: solid 1px rgba(0,255,68,1)!important;
}

html body button#google-help.yt-uix-button:hover {
	background: black;
}

a.yt-uix-button.footer-history.yt-uix-sessionlink.yt-uix-button-default.yt-uix-button-size-default.yt-uix-button-has-icon {
	box-shadow: 0px 0px 5px 1px rgba(0,255,68,1);
	border: solid 1px rgba(0,255,68,1)!important;
	background: black;
}

html body button#yt-picker-safetymode-button {
	box-shadow: 0px 0px 5px 1px rgba(0,255,68,1);
	border: solid 1px rgba(0,255,68,1)!important;
}

html body button#yt-picker-country-button {
	box-shadow: 0px 0px 5px 1px rgba(0,255,68,1);
	border: solid 1px rgba(0,255,68,1)!important;
}

html body button#yt-picker-country-button:hover {
	background: black;
}

html body button#yt-picker-language-button {
	box-shadow: 0px 0px 5px 1px rgba(0,255,68,1);
	border: solid 1px rgba(0,255,68,1)!important;
}

html body button#yt-picker-language-button:hover {
	background: black;
}

html body div.comment-simplebox-renderer-collapsed-content {
	border: solid 1px rgba(0,255,68,1);
}

html body div.comment-simplebox-renderer.yt-uix-servicelink {
	border-bottom: solid 1px rgba(0,255,68,1);
}

html body h2.comment-section-header-renderer {
	color: rgba(0,255,68,1);
}

/* This is for the comment dislike thunb*/
html body button.yt-uix-button.yt-uix-button-size-default.yt-uix-button-default.yt-uix-button-empty.yt-uix-button-has-icon.no-icon-markup.comment-action-buttons-renderer-thumb.yt-uix-sessionlink.sprite-comment-actions.sprite-dislike:before {
	background-color: rgba(0,255,68,1)!important;
}

html body button.yt-uix-button.yt-uix-button-size-default.yt-uix-button-default.yt-uix-button-empty.yt-uix-button-has-icon.no-icon-markup.comment-action-buttons-renderer-thumb.yt-uix-sessionlink.sprite-comment-actions.sprite-like:before {
	background-color: rgba(0,255,68,1)!important;
}

html body div#page.home.clearfix.masthead-ad-expanded {
	border: solid 1px rgba(0,255,68,1)!important;
	color: rgba(0,255,68,1)!important;
}

html body span.yt-uix-button-content {
	border-bottom: 1px solid rgba(0,255,68,1);
}

html body span.yt-uix-button-icon.yt-uix-button-icon-bell.yt-sprite {
	background-color: rgba(0,255,68,1)!important;
}

html body div#footer-links a {
	color: rgba(0,255,68,1)!important;
}

a.yt-uix-button.yt-uix-sessionlink.yt-uix-button-default.yt-uix-button-size-default {
	background-color: black;
	border: 1px solid rgba(0,255,68,1);
}

a.yt-uix-sessionlink.yt-uix-tile-link.yt-ui-ellipsis.yt-ui-ellipsis-2.spf-link {
	background-color: black;
}

div.yt-lockup-description.yt-ui-ellipsis.yt-ui-ellipsis-2 {
	background-color: black;
}










